body {
  transition-duration: 0ms;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-light-100);
  background-color: #0d0d0d; /* matches your screenshot */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
