:root {
  --color-light: #ffffff;
  --color-light-100: #f7f7f7;
  --color-light-300: #dddddd;
  /*dark*/
  --color-dark: #0d0d0d;
  --color-dark-100: #171717;
  --color-dark-300: #2d2d2d;
  --color-gray-500: #7e7e81;
  /*accent*/
  --color-accent-300: #a280ff;
  --color-accent-500: #8c61ff;
  --color-accent-700: #704ecc;
  --color-accent-900: #382766;
  --color-accent-1000: #1a0f2b;
  /*info*/
  --color-info-500: #397df6;
  --color-success-100: #80ffbf;
  --color-success-300: #22e584;
  --color-success-500: #14cc70;
  --color-success-900: #0a6638;
  --color-danger-300: #f23d61;
  --color-danger-500: #cc1439;
}

.input-container {
  display: flex;
  row-gap: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-accent-900);
  transition: all 0.3s ease-in-out;
}
.input-container:hover {
  border: 1px solid var(--color-accent-500);
  cursor: text;
}
.input-container:hover .icon {
  color: hsl(var(--color-primary) / 1);
}
.input-container:focus-within {
  border: 1px solid var(--color-accent-500);
  background-color: inherit;
}

.input {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  color: var(--color-light-100);
  padding: 10px 10px 10px 30px;
  border: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: inherit;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px hsl(var(--color-content1) / 1) inset !important;
  -webkit-text-fill-color: white;
  border-color: 1px solid var(--color-light-100);
}
.input::placeholder {
  transition: var(--transition);
  color: var(--color-light-100);
  font-size: 14px;
}
.input.error {
  color: hsl(var(--color-danger) / 1);
  border-color: var(--color-accent);
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1400;
  overflow-y: auto;
}

.overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  background: black;
  width: 400px;
  padding: 1.5rem;
  z-index: 1500;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 20px rgba(112, 78, 204, 0.4);
  border-radius: 10px;
  overflow-y: auto;
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--main-text-color);
}
.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.modal__title {
  color: white;
}
.modal__list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 0.5rem;
}

.overlay.is-open .modal {
  transform: scale(1);
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
