.input-container {
  display: flex;
  row-gap: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-accent-900);
  transition: all 0.3s ease-in-out;
}
.input-container:hover {
  border: 1px solid var(--color-accent-500);
  cursor: text;
}
.input-container:hover .icon {
  color: hsl(var(--color-primary) / 1);
}
.input-container:focus-within {
  border: 1px solid var(--color-accent-500);
  background-color: inherit;
}

.input {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  color: var(--color-light-100);
  padding: 10px 10px 10px 30px;
  border: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: inherit;
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px hsl(var(--color-content1) / 1) inset !important;
  -webkit-text-fill-color: white;
  border-color: 1px solid var(--color-light-100);
}
.input::placeholder {
  color: var(--color-gray-500);
  font-size: 12px;
}
.input.error {
  color: hsl(var(--color-danger) / 1);
  border-color: var(--color-accent);
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  background-color: color-mix(
    in oklab,
    hsl(var(--color-overlay) / 1) 30%,
    transparent
  );
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1400;
  overflow-y: auto;
}

.overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  background: #171717;
  width: 400px;
  padding: 1.5rem;
  z-index: 1500;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 20px rgba(112, 78, 204, 0.4);
  border-radius: 10px;
  overflow-y: auto;
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--main-text-color);
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.modal__title {
  color: white;
}
.modal__list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 0.5rem;
}

.overlay.is-open .modal {
  transform: scale(1);
  opacity: 1;
}

.primary {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.375rem 1.75rem;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transition: 300ms background-color, 300ms color;
}
.primary:focus-visible {
  outline: 2px solid var(--color-info-700);
  outline-offset: 2px;
}
.primary:disabled {
  cursor: default;
  opacity: 0.5;
}
.primary.fullWidth {
  width: 100%;
  justify-content: center;
}
.primary {
  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px rgba(140, 97, 255, 0.35);
}
.primary:hover:enabled {
  background-color: var(--color-accent-300);
}
.primary:active:enabled {
  background-color: var(--color-accent-500);
}

.secondary {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.375rem 1.75rem;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transition: 300ms background-color, 300ms color;
}
.secondary:focus-visible {
  outline: 2px solid var(--color-info-700);
  outline-offset: 2px;
}
.secondary:disabled {
  cursor: default;
  opacity: 0.5;
}
.secondary.fullWidth {
  width: 100%;
  justify-content: center;
}
.secondary {
  color: var(--color-text-primary);
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgba(77, 86, 96, 0.13);
}
.secondary:hover:enabled {
  background-color: var(--color-dark-100);
}
.secondary:active:enabled {
  background-color: var(--color-dark-500);
}

.tertiary {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.375rem 1.75rem;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transition: 300ms background-color, 300ms color;
}
.tertiary:focus-visible {
  outline: 2px solid var(--color-info-700);
  outline-offset: 2px;
}
.tertiary:disabled {
  cursor: default;
  opacity: 0.5;
}
.tertiary.fullWidth {
  width: 100%;
  justify-content: center;
}
.tertiary {
  color: var(--color-accent-500);
  background-color: transparent;
  border: 1px solid var(--color-accent-700);
}
.tertiary:hover:enabled {
  background-color: var(--color-accent-900);
}
.tertiary:active:enabled {
  background-color: var(--color-accent-900);
}

.wrong {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.375rem 1.75rem;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transition: 300ms background-color, 300ms color;
}
.wrong:focus-visible {
  outline: 2px solid var(--color-info-700);
  outline-offset: 2px;
}
.wrong:disabled {
  cursor: default;
  opacity: 0.5;
}
.wrong.fullWidth {
  width: 100%;
  justify-content: center;
}
.wrong {
  color: var(--color-danger-500);
  background-color: transparent;
  border: 1px solid var(--color-danger-500);
}
.wrong:hover:enabled {
  background-color: var(--color-danger-300);
}
.wrong:active:enabled {
  background-color: var(--color-danger-300);
}

.success {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.375rem 1.75rem;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  opacity: 1;
  visibility: visible;
  transition: 300ms background-color, 300ms color;
}
.success:focus-visible {
  outline: 2px solid var(--color-info-700);
  outline-offset: 2px;
}
.success:disabled {
  cursor: default;
  opacity: 0.5;
}
.success.fullWidth {
  width: 100%;
  justify-content: center;
}
.success {
  color: var(--color-success-500);
  background-color: transparent;
  border: 1px solid var(--color-success-500);
}
.success:hover:enabled {
  background-color: var(--color-success-300);
  color: var(--color-success-900);
}
.success:active:enabled {
  background-color: var(--color-success-300);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.welcome {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  width: 700px;
  border-radius: 10px;
  overflow: hidden;
}
.welcome__img-wrapper {
  position: relative;
  overflow: hidden;
}
.welcome__img-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(36, 51, 59, 0.6);
  transition: all var(--transition-duration) ease-in-out;
}
.welcome__img {
  width: 100%;
  height: 100%;
}
.welcome__actions {
  position: absolute;
  z-index: 3;
  bottom: 20px;
}
.welcome__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  background: var(--color-accent-300);
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding-block: 8px;
  background-color: var(--color-dark-100);
}
.header__inner {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-inline: 16px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
}

body {
  transition-duration: 0ms;
  font-family: var(--font-family-base), sans-serif;
  color: var(--color-light-100);
  background-color: #0d0d0d; /* matches your screenshot */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}

html.is-lock {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html.is-lock {
  overflow: hidden;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl) {
  margin-block: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-light: #ffffff;
  --color-light-100: #f7f7f7;
  --color-light-300: #dddddd;
  /*dark*/
  --color-dark: #0d0d0d;
  --color-dark-100: #171717;
  --color-dark-300: #2d2d2d;
  --color-gray-500: #7e7e81;
  /*accent*/
  --color-accent-300: #a280ff;
  --color-accent-500: #8c61ff;
  --color-accent-700: #704ecc;
  --color-accent-900: #382766;
  --color-accent-1000: #1a0f2b;
  /*info*/
  --color-info-500: #397df6;
  --color-success-100: #80ffbf;
  --color-success-300: #22e584;
  --color-success-500: #14cc70;
  --color-success-900: #0a6638;
  --color-danger-300: #f23d61;
  --color-danger-500: #cc1439;
  --color-overlay: 0 0% 100%;
}

/*# sourceMappingURL=main.css.map */
