.input-container {
  display: flex;
  row-gap: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-accent-900);
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 1px solid var(--color-accent-500);
    cursor: text;
    .icon {
      color: hsl(var(--color-primary) / 1);
    }
  }
  &:focus-within {
    border: 1px solid var(--color-accent-500);
    background-color: inherit;
  }
}

.input {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  //font-weight: 400;
  //line-height: rem(24);
  color: var(--color-light-100);
  padding: 10px 10px 10px 30px;
  border: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: inherit;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-dark-100) inset !important;
    -webkit-text-fill-color: var(--color-light-100) !important;
    background-clip: content-box !important;
  }

  &::placeholder {
    color: var(--color-gray-500);
    font-size: 12px;
  }

  &.error {
    color: hsl(var(--color-danger) / 1);
    border-color: var(--color-accent);
  }
}
