.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1400;
  overflow-y: auto;
}

.overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  background: #171717;
  width: 400px;
  padding: 1.5rem;
  z-index: 1500;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 20px rgba(112, 78, 204, 0.4);
  border-radius: 10px;
  overflow-y: auto;
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--main-text-color);
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  &__title {
    color: white;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    gap: 0.5rem;
  }
}
.overlay.is-open .modal {
  transform: scale(1);
  opacity: 1;
}
